#colorpicker-container {
  position: relative;
  width: fit-content;
}

/** Force color picker styling **/
.cp-app {
  width: 307px !important;
  background-color: transparent !important;
}

.cp-exit {
  display: none;
}

/** Turn off a bunch of color picker features. **/
.cp-app .hsl-mode,
.cp-app .hsv-h-butt,
.cp-app .hsv-s-butt,
.cp-app .hsv-v-butt,
.cp-app .cp-rgb,
.cp-app .cp-cmyk,
.cp-app .alpha-labl,
.cp-app .HEX-labl,
.cp-panel,
.cp-resize
{
  display: none;
}

.cp-opacity {
  margin-top: 10px;
}

.cp-opacity .cp-opacity-slider {
  border-color: black transparent !important;
}